header{
    background-color: rgb(33, 33, 172);
    color: rgb(0, 0, 0);
    text-align: center;

}
main { background-color: rgb(122, 122, 184);
color: black;
text-align: center; }
img {
width: 80px;
height: 80px;
}